@import "tailwindcss";

:root {
  color: #ffffff;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: transparent;
  font-family: 'Inter', 'Space Grotesk', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  overflow-y: auto ;
}


#root {
  min-height: auto;
  background-color: transparent;
}
